.page {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12%;
}
.panel {
  display: flex;
  justify-content: center;

}
.wrapper {
  width: 108px;
  height: 108px;
  border-radius: 50%;
  box-shadow: 0 6px 60px 0 rgba(109, 88, 88, 0.1);
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url("../download.svg"); */
}
.logo {
  width: 58px;
  height: 58px;
  margin: 29px;
}
.content {
  margin: 30px auto;
  color: #2f2f2f;
  text-align: center;
  /* width: 80%; */
  font-family: calibri;
}